

.App .ant-layout-header {
  color: #fff;
  font-size: 16px;
}

.video-wrapper {
  width: 400px;
  height: 300px;
  position: relative;
}

.video-wrapper video {
  height: 100%;
  width: 100%;
}
#drawCanvas, #webgl {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper .stats-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 100;
}

.mask-wrapper img {
  display: none;
}


.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flex-col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.flex-col-center-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-col-around {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.flex-col-left-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-col-left-between {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-row-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flex-row-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.flex-row-left-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-row-right-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-row-around {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-row-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}
.flex-1 {
  flex: 1;
}